{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
    <a href="#" class="domis86_translator_data_collector_clickable">
        <img class="domis86_web_debug_dialog_toolbar_icon_img_warning" alt="Translator icon"
             style="padding-top: 7px; padding-bottom: 5px"
             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAEKSURBVHjarFNLCsIwEJ2Ia3falev2EILgTgV7iS6aHqi5guDG3sELKAjtSkFXFTxC40xpYlpTWqgPHvnNe51MpixNUzAQIznYIZCRueG6LoybYtq0IcsyZVwzGfURq69V2cVNg06xxaRm0EvchhEMxF8MBFa4M/ASRZAwBs8wvNYOqA+QMVK24cy5PALIIgjKEUnxgEf6CpEtE1oTb0LALgig2K7L0XwJax8oIZmmnidUcLHdfDP3vLIfWNXKksRGBrptMVAufP+nJqckAV9KpjJQ6ZOQGWKHxneel5wc9npOwKI6Zg1Ys8/pWtP5XC/uy5WeV/t83PF64vV4zJC85e8UjJ5iCD4CDAAfbpOTmrfR1AAAAABJRU5ErkJggg%3D%3D"/>
        <img class="domis86_web_debug_dialog_toolbar_icon_img_edit" alt="Translator icon"
             style="display:none; padding-top: 7px; padding-bottom: 5px"
             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADxSURBVHjaYvz//z8DDNy8eXMakMpkwA6mq6urZ2GIggwA4Rs3bkwD4v+4AEgOpAamHoaJ0ozPEKI1IxuCbAATyM9AvzGQC5gYKARUMWA6MPqIUgxVNx0jGokJSPQYeG5p8B+EGWEJCZaIkAMUzWXwhDRh2iSwpogl8xlYsGlG0oiR+j7t8fwfJfaNYdmrYAaJY+cZwS4AavgP0oxPIwh8OeD9/8eHbww/gVg64SQjSIwFpgGoORNnegeCr0d8///68pPhNxDDNIMAI3JmwgVOHM76r/H1Dthm8YgjjCSng/4pbxlucKtgaCbaBfgAQIABAHoDR9rIUJdQAAAAAElFTkSuQmCC"/>
        <span class="domis86_translator_data_collector_icon_text sf-toolbar-status">translations</span>
    </a>
    {% endset %}
    {% set text %}
    <div class="sf-toolbar-info-piece domis86_translator_data_collector_clickable">
        {# TODO: support Profiler view? #}
        {# TODO: add some info here (about translated/untranslated messages etc) #}
        <span>[Click to edit translations]</span>
    </div>

    {% if not collector.backendMode %}
        {{ render(controller('domis86_translator.controller.translator_controller:webDebugDialogAction', { 'location': collector.location })) }}
    {% endif %}
    
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': false } %}
{% endblock %}
