{% extends 'Domis86TranslatorBundle::base.html.twig' %}

{% block title %}Edit All Messages - Backend - Domis86TranslatorBundle - {% endblock %}

{% block content %}
    <div class="domis86_translator_data_collector_icon_text domis86_translator_data_collector_clickable"
         style="font-size: 1.2em;">translations
    </div>

    {% include 'Domis86TranslatorBundle:Translator:webDebugDialog.html.twig' %}

    {% include 'Domis86TranslatorBundle:Translator:assets.html.twig' with { 'backendMode': backendMode, 'bundleConfig': bundleConfig } %}
{% endblock %}
